<div class="card-homepage" >
  <div class="card-body"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path product.photo %>')">
    <div class="card-description">
      <h2><%= product.name %></h2>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-bottom">
      <h3><%= product.description %></h3>
    </div>
  </div>
</div>
