<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://fr.cdn.v5.futura-sciences.com/buildsv6/images/wide1920/5/c/6/5c64119d89_88056_shutterstock-openrangestock.jpg');">
  <div class="banner-content">
    <h1>Bienvenu sur GreenSpot/LaFumerie</h1>
    <p>CBD légal qualité suisse</p>
  </div>
</div>

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="container">
    <div class="row">
      <% Product.all.where(flower: true).each do |instance| %>
      <div class="col-xs-12 col-sm-3">
        <%= render 'components/card_homepage', product: instance %>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <a class="btn btn-primary btn-lg">Start now</a>
</div>
